/* work sans google fonts */

  @import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Lato&family=Merriweather&family=Montserrat&family=Open+Sans:ital,wght@0,800;1,800&family=PT+Serif&family=Playfair+Display&family=Sacramento&family=Work+Sans:wght@400;500;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
}
main{
    width: 80%;
    margin: 0 auto;
}
a:hover{
color: blue;
}
.primary-button:hover{
    background-color: black;
    color: white;
}
.primary-button{
    border-radius: 0.5rem;
    background: #FF900E;
    padding: 1.31rem 2rem;
    border: 0;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 2.06rem;
}
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 40px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul{
    display: flex;
    gap: 30px;
}
nav li{
    list-style: none;
    text-decoration: none;
    
}
nav li a{
    text-decoration: none;
    color: #424242;
    font-family: Work Sans;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.625rem; /* 144.444% */
}
.heading-title{
    color: #131313;
    font-family: Work Sans;
    font-size: 2.8125rem;
    font-weight: 700;
}

/* banner styles */
.banner-content{
    width: 53.875rem;
    margin: 0 auto;
    text-align: center;
}
.banner-title{
    color:#131313;
    text-align: center;
    font-family: Work Sans;
    font-size: 4rem;
    font-weight: 700;
    margin-top: 8rem;
}
.banner-description{
    color:  #727272;
    text-align: center;
    font-family: Work Sans;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem; /* 162.5% */ 
    margin-bottom: 2.06rem;
    margin-top: 2rem;
}
.banner-img{
    margin-top: 1rem;
    width: 100%
}

/* team style */
.team-container{
    display: flex;
    align-items: center;
    margin-top: 8rem;
    padding: 0 5rem;
    justify-content: space-around;
}

.team-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.team-text-content{
    margin-left: 4.56rem;
    margin-right: 2rem;
}
.team-content-title{
    color: #727272;
font-family: Work Sans;
font-size: 2.8125rem;
font-weight: 500;
}
.of-our{
    color: #131313;
font-family: Work Sans;
font-size: 2.8125rem;
font-weight: 700;
}
.feature{
    color: #FF900E;
font-family: Work Sans;
font-size: 2.8125rem;
font-weight: 700;
}
.team-content-description{
    color: #727272;
font-family: Work Sans;
font-size: 1rem;
font-weight: 400;
line-height: 1.625rem; /* 162.5% */
margin-top: 1.5rem;
margin-bottom: 2rem;
}

/* feature section style */





/* facts section style  */
.facts-section{
    height: auto;
    margin-top: 120px;
}
.fact-heading{
    color: #131313;
font-family: Work Sans;
font-size: 2.8125rem;
font-weight: 700;
}
.fact-description{
    margin-top: 1.5rem;
    margin-bottom: 6rem;
    width: 33rem;
    color:  #727272;
font-family: Work Sans;
font-size: 1rem;
font-weight: 400;
line-height: 1.625rem; /* 162.5% */
}

.fact-box-container{
display: flex;
justify-content: space-around;
text-align: center;
}
.card{
    border-radius: 0.5rem;
border: 1px solid #FF900E;
width: 15.11444rem;
height: 15.11444rem;
}
.card > img{
    margin-top: 3rem;
}
.card-title{
    color: #424242;
font-family: Work Sans;
font-size: 2.8125rem;
font-weight: 600;
margin-top: 0.62rem;
margin-bottom: 0.31rem;
}
.card-description{
    color: #727272;
font-family: Work Sans;
font-size: 1.25rem;
font-weight: 600;
}





/* responsive media */
/* mobile-device */
@media screen and (max-width: 576px) {
    header{
        padding: 1rem;
        max-width: 95%;
    }
    nav{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .banner-content{
        width: 100%;
        margin: 0;
        text-align: left;
    }
    .heading-title{
        text-align: center;
        font-size: 2rem;
    }
    
    .banner-title{
        text-align: left;
        font-size: 1.5rem;
        margin-top: 30px;
    }
    .banner-description{
    text-align: left;
    margin-top: 10px;
    }
    .primary-button{
        padding: 1rem 1.3rem;
        font-size: 1rem;
        text-align: left;
    }
    .banner-img{
        margin-top: 1rem;
        width: 100%;
        margin: 0 auto;
    }

    main{
        width: 90%;
        margin: 0 auto;
    }
    
    /* team style */
    .team-container{
        display: flex;
        flex-direction: column;
        padding: 0 0;
        margin-top: 3rem;
    }
    .team-image-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        width: 100%;
    }
    .team-image-container img{
    width: 100%;
    height: 80%;
    border-radius: 5px;
    }
    .team-text-content{
        margin-top: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .team-content-title{
    font-size: 2rem;
    }
    .of-our{
    font-size: 2rem;
    }
    .feature{
    font-size: 2rem;
    }


    /* facts section style  */
    .facts-section{
        height: auto;
        margin-top: 50px;
    }
    .fact-heading{
    font-size: 2rem;
    }
    .fact-description{
        margin-bottom: 3rem;
        width: 90%;
    }

    .fact-box-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    }
    .card{
    width: 10.11444rem;
    height: 12.11444rem;
    }
    .card > img{
        margin-top: 1rem;
    }
    .card-title{
    font-size: 2rem;
    }
    .card-description{
    font-size: 1rem;
    }



}

/* medium device */

@media screen and (min-width: 576px) and (max-width: 960px) {
    header{
        padding: 1rem;
    }
    nav{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .banner-content{
        width: 95%;
        margin: 0;
        text-align: center;
    }
    .heading-title{
        text-align: center;
        font-size: 2rem;
    }
    
    .banner-title{
        text-align: center;
        font-size: 1.5rem;
        margin-top: 30px;
    }
    .banner-description{
    text-align: center;
    margin-top: 10px;
    }
    .primary-button{
        padding: 1rem 1.3rem;
        font-size: 1rem;
        text-align: left;
    }
.banner-img{
    margin-top: 1rem;
    width: 100%;
}

}
