/* work sans google fonts */

  @import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Lato&family=Merriweather&family=Montserrat&family=Open+Sans:ital,wght@0,800;1,800&family=PT+Serif&family=Playfair+Display&family=Sacramento&family=Work+Sans:wght@400;500;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
}
main{
    width: 80%;
    margin: 0 auto;
}
a:hover{
color: blue;
}
.primary-button:hover{
    background-color: black;
    color: white;
}
.primary-button{
    border-radius: 0.5rem;
    background: #FF900E;
    padding: 1.31rem 2rem;
    border: 0;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 2.06rem;
}
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 40px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul{
    display: flex;
    gap: 30px;
}
nav li{
    list-style: none;
    text-decoration: none;
    
}
nav li a{
    text-decoration: none;
    color: #424242;
    font-family: Work Sans;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.625rem; /* 144.444% */
}
.heading-title{
    color: #131313;
    font-family: Work Sans;
    font-size: 2.8125rem;
    font-weight: 700;
}

/* banner styles */
.banner-content{
    width: 53.875rem;
    margin: 0 auto;
    text-align: center;
}
.banner-title{
    color:#131313;
    text-align: center;
    font-family: Work Sans;
    font-size: 4rem;
    font-weight: 700;
    margin-top: 8rem;
}
.banner-description{
    color:  #727272;
    text-align: center;
    font-family: Work Sans;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem; /* 162.5% */ 
    margin-bottom: 2.06rem;
    margin-top: 2rem;
}
.banner-img{
    margin-top: 1rem;
    width: 100%
}

/* team style */
.team-container{
    display: flex;
    align-items: center;
    margin-top: 8rem;
    padding: 0 5rem;
    justify-content: space-around;
}

.team-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.team-text-content{
    margin-left: 4.56rem;
    margin-right: 2rem;
}
.team-content-title{
    color: #727272;
font-family: Work Sans;
font-size: 2.8125rem;
font-weight: 500;
}
.of-our{
    color: #131313;
font-family: Work Sans;
font-size: 2.8125rem;
font-weight: 700;
}
.feature{
    color: #FF900E;
font-family: Work Sans;
font-size: 2.8125rem;
font-weight: 700;
}
.team-content-description{
    color: #727272;
font-family: Work Sans;
font-size: 1rem;
font-weight: 400;
line-height: 1.625rem; /* 162.5% */
margin-top: 1.5rem;
margin-bottom: 2rem;
}

/* feature section style */

.feature-section{
    margin-top: 130px;
    display: flex;
    justify-content: space-between;

}
.little-box{
    width: 0.3125rem;
height: 6.625rem;
background: #FF900E;
}
.heading-design{
    display: flex;
}
.feature-title{
    margin-left: 1.3rem;
    width: 29.25rem;
    color: #131313;
font-family: Work Sans;
font-size: 2.8125rem;
font-weight: 700;
}
.feature-description{
    margin-top: 1.5rem;
    width: 40.625rem;
    color: #727272;
font-family: Work Sans;
font-size: 1rem;
font-weight: 400;
line-height: 1.625rem; /* 162.5% */
}

.feature-card{
    margin-top: 1.5rem;
    width: 40.625rem;
height: 10.6875rem;
border-radius: 0.5rem;
background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
display: flex;
flex-direction: column;
justify-content: center;
}
.feature-card:hover{
     transform: scale(1.05);
}
.feature-card-title{
    margin-left: 1.5rem;
    color: #131313;
font-family: Work Sans;
font-size: 1.25rem;
font-weight: 600;
}
.feature-card-description{
    color: #727272;
    margin-top: 0.65rem;
    padding-left: 2rem;
    padding-right: 2rem;
font-family: Work Sans;
font-size: 1rem;
font-weight: 400;
line-height: 1.625rem; /* 162.5% */
}
.ten-year-badge{
    width: 21.375rem;
    height: 12.5rem;
    border-radius: 0.5rem;
    background: #FF900E;
    position: relative;
    bottom: 100px;
    left: -120px;
}
.ten-year-badge:hover{
    background-color: #131313;
    cursor: pointer;
    transform: scale(1.05);
}
.ten-year{
    width: 16.125rem;
    color: #FFF;
text-align: center;
font-family: Work Sans;
font-size: 4.0625rem;
font-weight: 700;
line-height: 4.375rem; /* 107.692% */
}
.experience{
    color: #FFF;
font-family: Work Sans;
font-size: 1.5625rem;
font-weight: 500;
line-height: 2.5rem;
text-align: center;
}
.year{
    padding: 2.80rem 2.63rem;
}




/* facts section style  */
.facts-section{
    height: auto;
    margin-top: 120px;
}
.fact-heading{
    color: #131313;
font-family: Work Sans;
font-size: 2.8125rem;
font-weight: 700;
}
.fact-description{
    margin-top: 1.5rem;
    margin-bottom: 6rem;
    width: 33rem;
    color:  #727272;
font-family: Work Sans;
font-size: 1rem;
font-weight: 400;
line-height: 1.625rem; /* 162.5% */
}

.fact-box-container{
display: flex;
justify-content: space-around;
text-align: center;
}
.card{
    border-radius: 0.5rem;
border: 1px solid #FF900E;
width: 15.11444rem;
height: 15.11444rem;
}
.card:hover{
    transform: scale(1.05);
}
.card > img{
    margin-top: 3rem;
}
.card-title{
    color: #424242;
font-family: Work Sans;
font-size: 2.8125rem;
font-weight: 600;
margin-top: 0.62rem;
margin-bottom: 0.31rem;
}
.card-description{
    color: #727272;
font-family: Work Sans;
font-size: 1.25rem;
font-weight: 600;
}

/* sponsor section style  */
.sponsor-title{
    color:  #131313;
    text-align: center;
font-family: Work Sans;
font-size: 2.8125rem;
font-weight: 700;
margin-top: 150px;
}
.sponsor-description{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
    width: 33.875rem;
    color:  #727272;
text-align: center;
font-family: Work Sans;
font-size: 1rem;
font-weight: 400;
line-height: 1.625rem; /* 162.5% */
}
.logo-img-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 3.12rem;
}

/* footer section style  */

.footer{
    border-radius: 0.5rem;
background: #FFF4E7;
margin-top: 150px;
margin-bottom: 50px;
}
.footer-text{
    color:  #424242;
text-align: center;
font-family: Work Sans;
font-size: 1.25rem;
font-weight: 400;
padding-top: 2.5rem;
padding-bottom: 2.5rem;
}



















/* responsive media */
/* mobile-device */
@media screen and (max-width: 576px) {
    header{
        padding: 1rem;
        max-width: 95%;
    }
    nav{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .banner-content{
        width: 100%;
        margin: 0;
        text-align: left;
    }
    .heading-title{
        text-align: center;
        font-size: 2rem;
    }
    
    .banner-title{
        text-align: left;
        font-size: 1.5rem;
        margin-top: 30px;
    }
    .banner-description{
    text-align: left;
    margin-top: 10px;
    }
    .primary-button{
        padding: 1rem 1.3rem;
        font-size: 1rem;
        text-align: left;
    }
    .banner-img{
        margin-top: 1rem;
        width: 100%;
        margin: 0 auto;
    }

    main{
        width: 90%;
        margin: 0 auto;
    }
    
    /* team style */
    .team-container{
        display: flex;
        flex-direction: column;
        padding: 0 0;
        margin-top: 3rem;
    }
    .team-image-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        width: 100%;
    }
    .team-image-container img{
    width: 100%;
    height: 80%;
    border-radius: 5px;
    }
    .team-text-content{
        margin-top: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .team-content-title{
    font-size: 2rem;
    }
    .of-our{
    font-size: 2rem;
    }
    .feature{
    font-size: 2rem;
    }


    /* facts section style  */
    .facts-section{
        height: auto;
        margin-top: 50px;
    }
    .fact-heading{
    font-size: 2rem;
    }
    .fact-description{
        margin-bottom: 3rem;
        width: 85%;
    }

    .fact-box-container{
    display: grid;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    }
    .card{
    width: 10.11444rem;
    height: 12.11444rem;
    }
    .card > img{
        margin-top: 1rem;
    }
    .card-title{
    font-size: 2rem;
    }
    .card-description{
    font-size: 1rem;
    }
    /* sposor */

    .sponsor-title{
    font-size: 2rem;
    margin-top: 70px;
    }
    .sponsor-description{
        width: 90%;
    }
    .logo-img-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        
        
        margin-top: 3.12rem;
    }
    .logo-img-container > img{
        width: 70%;
        height: 70%;
    }
    
    /* feature section style */

    .feature-section{
        margin-top: 70px;
        flex-direction: column;
        gap: 10px;

    }
    .feature-title{
        width: 90%;
    font-size: 1.8125rem;
    }
    .feature-description{
        margin-top: 1.5rem;
        width: 95%;
    }

    .feature-card{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .feature-card-title{
    font-size: 1rem;
    }
    .feature-card-description{
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1rem; /* 162.5% */
    }
    .feature-img img{
        width: 90%;
        margin-left: auto;
        margin-right: auto;

    }
.ten-year-badge{
    width: 11.375rem;
    height: 3.5rem;
    bottom: 30px;
    left: 0;
    
}
.ten-year{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
font-size: 2rem;
line-height: 1rem; /* 107.692% */
}
.experience{
font-size: 1rem;
line-height: 2rem;
text-align: center;
}
.year{
    padding: 0.5rem 0rem;
}
.footer{
margin-top: 100px;
}
.footer-text{
font-size: 1rem;
}
}

/* medium device */

@media screen and (min-width: 576px) and (max-width: 960px) {
    header{
        padding: 1rem;
        max-width: 95%;
    }
    nav{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .banner-content{
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    .heading-title{
        text-align: center;
        font-size: 2rem;
    }
    
    .banner-title{
        text-align: center;
        font-size: 1.5rem;
        margin-top: 30px;
    }
    .banner-description{
    text-align: center;
    margin-top: 10px;
    }
    .primary-button{
        padding: 1rem 1.3rem;
        font-size: 1rem;
        text-align: left;
    }
    .banner-img{
        margin-top: 1rem;
        width: 100%;
        margin: 0 auto;
    }

    main{
        width: 90%;
        margin: 0 auto;
    }
    
    /* team style */
    .team-container{
        display: flex;
        flex-direction: column;
        padding: 0 0;
        margin-top: 3rem;
    }
    .team-image-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        width: 100%;
    }
    .team-image-container img{
    width: 100%;
    height: 80%;
    border-radius: 5px;
    }
    .team-text-content{
        margin-top: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
        text-align: center;
    }
    .team-content-title{
    font-size: 2rem;
    }
    .of-our{
    font-size: 2rem;
    }
    .feature{
    font-size: 2rem;
    }


    /* facts section style  */
    .facts-section{
        height: auto;
        margin-top: 50px;
    }
    .fact-heading{
    font-size: 2rem;
    }
    .fact-description{
        margin-bottom: 3rem;
        width: 85%;
    }

    .fact-box-container{
    display: grid;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    }
    .card{
    width: 10.11444rem;
    height: 12.11444rem;
    }
    .card > img{
        margin-top: 1rem;
    }
    .card-title{
    font-size: 2rem;
    }
    .card-description{
    font-size: 1rem;
    }
    /* sposor */

    .sponsor-title{
    font-size: 2rem;
    margin-top: 70px;
    }
    .sponsor-description{
        width: 90%;
    }
    .logo-img-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        
        
        margin-top: 3.12rem;
    }
    .logo-img-container > img{
        width: 70%;
        height: 70%;
    }
    
    /* feature section style */

    .feature-section{
        margin-top: 70px;
        flex-direction: column;
        gap: 10px;

    }
    .feature-title{
        width: 90%;
    font-size: 2.8125rem;
    }
    .feature-description{
        margin-top: 1.5rem;
        width: 95%;
    }

    .feature-card{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .feature-card-title{
    font-size: 1rem;
    }
    .feature-card-description{
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1rem; /* 162.5% */
    }
    .feature-img img{
        width: 90%;
        margin-left: auto;
        margin-right: auto;

    }
.ten-year-badge{
    width: 11.375rem;
    height: 3.5rem;
    bottom: 30px;
    left: 0;
    
}
.ten-year{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
font-size: 2rem;
line-height: 1rem; /* 107.692% */
}
.experience{
font-size: 1rem;
line-height: 2rem;
text-align: center;
}
.year{
    padding: 0.5rem 0rem;
}
.footer{
margin-top: 100px;
}
.footer-text{
font-size: 1rem;
}

}


/* large device */

@media screen and (min-width: 960px) and (max-width: 1200px) {
    header{
        padding: 1rem;
        max-width: 95%;
    }
    nav{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .banner-content{
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    .heading-title{
        text-align: center;
        font-size: 2rem;
    }
    
    .banner-title{
        text-align: center;
        font-size: 1.5rem;
        margin-top: 30px;
    }
    .banner-description{
    text-align: center;
    margin-top: 10px;
    }
    .primary-button{
        padding: 1rem 1.3rem;
        font-size: 1rem;
        text-align: left;
    }
    .banner-img{
        margin-top: 1rem;
        width: 100%;
        margin: 0 auto;
    }

    main{
        width: 90%;
        margin: 0 auto;
    }
    
    /* team style */
    .team-container{
        display: flex;
        flex-direction: column;
        padding: 0 0;
        margin-top: 3rem;
    }
    .team-image-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        width: 100%;
    }
    .team-image-container img{
    width: 100%;
    height: 80%;
    border-radius: 5px;
    }
    .team-text-content{
        margin-top: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
        text-align: center;
    }
    .team-content-title{
    font-size: 2rem;
    }
    .of-our{
    font-size: 2rem;
    }
    .feature{
    font-size: 2rem;
    }


    /* facts section style  */
    .facts-section{
        height: auto;
        margin-top: 50px;
    }
    .fact-heading{
    font-size: 2rem;
    }
    .fact-description{
        margin-bottom: 3rem;
        width: 85%;
    }

    .fact-box-container{
    display: grid;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    }
    .card{
    width: 10.11444rem;
    height: 12.11444rem;
    }
    .card > img{
        margin-top: 1rem;
    }
    .card-title{
    font-size: 2rem;
    }
    .card-description{
    font-size: 1rem;
    }
    /* sposor */

    .sponsor-title{
    font-size: 2rem;
    margin-top: 70px;
    }
    .sponsor-description{
        width: 90%;
    }
    .logo-img-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        
        
        margin-top: 3.12rem;
    }
    .logo-img-container > img{
        width: 70%;
        height: 70%;
    }
    
    /* feature section style */

    .feature-section{
        margin-top: 70px;
        flex-direction: column;
        gap: 10px;

    }
    .feature-title{
        width: 90%;
    font-size: 2.8125rem;
    }
    .feature-description{
        margin-top: 1.5rem;
        width: 95%;
    }

    .feature-card{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .feature-card-title{
    font-size: 1rem;
    }
    .feature-card-description{
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1rem; /* 162.5% */
    }
    .feature-img img{
        width: 90%;
        margin-left: auto;
        margin-right: auto;

    }
.ten-year-badge{
    width: 11.375rem;
    height: 3.5rem;
    bottom: 30px;
    left: 0;
    
}
.ten-year{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
font-size: 2rem;
line-height: 1rem; /* 107.692% */
}
.experience{
font-size: 1rem;
line-height: 2rem;
text-align: center;
}
.year{
    padding: 0.5rem 0rem;
}
.footer{
margin-top: 100px;
}
.footer-text{
font-size: 1rem;
}

}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
    header{
        padding: 1rem;
        max-width: 95%;
    }
    nav{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .banner-content{
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    .heading-title{
        text-align: center;
        font-size: 2rem;
    }
    
    .banner-title{
        text-align: center;
        font-size: 1.5rem;
        margin-top: 30px;
    }
    .banner-description{
    text-align: center;
    margin-top: 10px;
    }
    .primary-button{
        padding: 1rem 1.3rem;
        font-size: 1rem;
        text-align: left;
    }
    .banner-img{
        margin-top: 1rem;
        width: 100%;
        margin: 0 auto;
    }

    main{
        width: 90%;
        margin: 0 auto;
    }
    
    /* team style */
    .team-container{
        display: flex;
        /* flex-direction: column; */
        padding: 0 0;
        margin-top: 3rem;
    }
    .team-image-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        width: 100%;
    }
    .team-image-container img{
    width: 100%;
    height: 80%;
    border-radius: 5px;
    }
    .team-text-content{
        margin-top: 1rem;
        margin-left: 3rem;
        margin-right: 1rem;
        /* text-align: center; */
    }
    .team-content-title{
    font-size: 2rem;
    }
    .of-our{
    font-size: 2rem;
    }
    .feature{
    font-size: 2rem;
    }


    /* facts section style  */
    .facts-section{
        height: auto;
        margin-top: 50px;
    }
    .fact-heading{
    font-size: 2rem;
    }
    .fact-description{
        margin-bottom: 3rem;
        width: 85%;
    }

    .fact-box-container{
    /* display: grid; */
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    /* grid-template-columns: repeat(2, 1fr); */
    gap: 5px;
    }
    .card{
    width: 10.11444rem;
    height: 12.11444rem;
    }
    .card > img{
        margin-top: 1rem;
    }
    .card-title{
    font-size: 2rem;
    }
    .card-description{
    font-size: 1rem;
    }
    /* sposor */

    .sponsor-title{
    font-size: 2rem;
    margin-top: 70px;
    }
    .sponsor-description{
        width: 90%;
    }
    .logo-img-container{
        display: flex;
        gap: 25px;

        /* grid-template-columns: repeat(3, 1fr); */
        
        
        margin-top: 3.12rem;
    }
    .logo-img-container > img{
        width: 40%;
        height: 40%;
    }
    
    /* feature section style */

    .feature-section{
        margin-top: 70px;
        /* flex-direction: column; */
        gap: 10px;

    }
    .feature-title{
        width: 90%;
    font-size: 2.8125rem;
    }
    .feature-description{
        margin-top: 1.5rem;
        width: 95%;
    }

    .feature-card{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .feature-card-title{
    font-size: 1rem;
    }
    .feature-card-description{
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1rem; /* 162.5% */
    }
    .feature-img img{
        width: 90%;
        margin-left: auto;
        margin-right: auto;

    }
.ten-year-badge{
    width: 11.375rem;
    height: 3.5rem;
    bottom: 30px;
    left: 0;
    
}
.ten-year{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
font-size: 2rem;
line-height: 1rem; /* 107.692% */
}
.experience{
font-size: 1rem;
line-height: 2rem;
text-align: center;
}
.year{
    padding: 0.5rem 0rem;
}
.footer{
margin-top: 100px;
}
.footer-text{
font-size: 1rem;
}

}